html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
strong {
  font-weight: bold;
}
.map-container {
  width: 100%;
  height: 100%;
}
.map-container .shbutton {
  color: white;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px 20px;
  position: absolute;
  z-index: 30;
  width: 450px;
  font-size: 0.7rem;
}
.map-container .shbutton .confirmed {
  background-color: rgba(251, 110, 110, 0.6);
}
.map-container .shbutton .recovered {
  background-color: rgba(0, 230, 0, 0.5);
}
.map-container .shbutton span,
.map-container .shbutton .cb_button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
  user-select: none;
  color: rgba(255, 255, 255, 0.6);
}
.map-container .shbutton span:hover,
.map-container .shbutton .cb_button:hover {
  color: white;
}
.map-container .shbutton span:not(:first-child) {
  margin-left: 10px;
}
.map-container .shbutton .cb_button {
  margin-left: 10px;
  background-color: rgba(29, 132, 172, 0.6);
  text-decoration: none;
}
.map-container .shbutton .coffee-icon {
  width: 30px;
}
@media only screen and (max-width: 600px) {
  .map-container .shbutton {
    width: 100%;
    font-size: 110%;
  }
  .map-container .shbutton span,
  .map-container .shbutton .cb_button {
    width: auto;
    text-align: center;
    padding: 10px;
  }
}
.map-container div#sidebar-outer {
  position: absolute;
  top: 61px;
  left: 0;
  height: calc(100vh - 60px);
  width: 100%;
  max-width: 450px;
  z-index: 1;
}
.map-container div#sidebar-outer pre#sidebar {
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(25, 25, 25, 0.5);
  height: inherit;
  width: inherit;
  max-width: inherit;
}
.map-container div#sidebar-outer pre#sidebar .nixwhite {
  font-size: 50%;
  font-weight: normal;
  color: white;
  padding: 10px 0;
  background: none;
}
.map-container div#sidebar-outer pre#sidebar .sidebar-inner-container:not(:first-child) {
  margin-top: -15px;
}
.map-container div#sidebar-outer pre#sidebar .sidebar-inner-container:first-child {
  margin-bottom: 5px;
  padding: 10px 0 20px;
}
.map-container div#sidebar-outer pre#sidebar .sidebar-inner-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 20px 20px;
  padding: 0 20px 20px;
  border-radius: 4px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.map-container div#sidebar-outer pre#sidebar .page-title {
  margin: 0;
}
.map-container div#sidebar-outer pre#sidebar .tweet-inner-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 5px 0 0;
  padding: 0 20px 20px;
  border-radius: 4px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.map-container div#sidebar-outer pre#sidebar .light {
  background-color: rgba(255, 255, 255, 0.05);
}
.map-container div#sidebar-outer pre#sidebar .goldenrod-text {
  color: #c4941d;
}
.map-container div#sidebar-outer pre#sidebar .green-text {
  color: #00e600;
}
.map-container div#sidebar-outer pre#sidebar .red-text {
  color: #ff704f;
}
.map-container div#sidebar-outer pre#sidebar .stat {
  display: inline-block;
  font-size: 0.85rem;
  line-height: 1.2rem;
  padding: 10px;
  border: 1px solid #6e6e6e;
  border-radius: 4px;
  margin-bottom: 10px;
  width: calc(50% - 10px);
}
.map-container div#sidebar-outer pre#sidebar .stat:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 600px) {
  .map-container div#sidebar-outer pre#sidebar .stat {
    font-size: 0.7rem;
    padding: 8px;
    width: calc(50% - 5px);
  }
}
.map-container div#sidebar-outer pre#sidebar .no-column {
  flex-direction: row;
  margin-bottom: 0px;
  padding-top: 20px;
}
.map-container div#sidebar-outer pre#sidebar .no-margin {
  margin-bottom: 0;
}
.map-container div#sidebar-outer pre#sidebar .stat-entry {
  display: inline-block;
  text-indent: 5px;
}
.map-container div#sidebar-outer pre#sidebar .stat-entry::before {
  content: "↳ ";
}
.map-container div#sidebar-outer pre#sidebar span.divider {
  width: 100%;
  height: 1px;
  background-color: white;
  display: inline-block;
  margin: 8px 0;
}
.map-container div#sidebar-outer pre#sidebar p.worldTotal {
  margin: 0;
}
.map-container .map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.map-container .mapboxgl-popup-tip {
  opacity: 0.8;
}
.map-container .mapboxgl-popup-close-button {
  font-size: 13px;
  outline: none;
}
.map-container .mapboxgl-popup-close-button:hover {
  color: #b52200;
}
.map-container .mapboxgl-popup-content {
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.map-container .mapboxgl-popup-content h3 {
  font-size: 1.4rem;
  margin: 0 0 3px;
}
.map-container .mapboxgl-popup-content span.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  display: inline-block;
  margin: 5px 0 5px;
}
.map-container .mapboxgl-popup-content p.ps-total {
  display: flex;
  flex-direction: column;
  color: #b52200;
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 8px;
  margin: 0;
}
.map-container .mapboxgl-popup-content p.ps-total .nix {
  font-size: 62.5%;
  font-weight: normal;
  color: black;
  line-height: 200%;
}
.map-container .mapboxgl-popup-content ul {
  margin: 5px 0 0 -20px;
  font-size: 110%;
}
.map-container .mapboxgl-popup-content ul li {
  text-indent: 10px;
}
.map-container .mapboxgl-popup-content ul li::before {
  content: "\2022";
  font-weight: bold;
  font-size: 200%;
  display: inline-block;
  width: 1em;
  position: relative;
  top: 5px;
}
.map-container .mapboxgl-popup-content ul li.active::before {
  color: #c4941d;
}
.map-container .mapboxgl-popup-content ul li.recovered::before {
  color: #009a00;
}
.attribution {
  color: #a1a1a1;
  text-decoration: none;
  font-size: 90%;
  display: inline-block;
}
.attribution:hover {
  text-decoration: underline;
  color: lightblue;
}
.stories {
  line-height: 125%;
}
.tweet-container {
  height: calc(100vh - 495px);
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 7.5px;
  border-radius: 4px;
}
.tweet-container a {
  color: white;
  text-decoration: none;
}
.tweet-container a:hover {
  color: white;
  text-decoration: underline;
}
.tweet-container .no-tweets {
  color: #fca0a0;
  font-size: 1.4rem;
  position: relative;
  top: calc(50% - 1.4rem);
  width: fit-content;
  margin: 0 auto;
}
.tweet-container .tweet-item {
  height: auto;
  padding: 7.5px 0 7.5px 7.5px;
  display: flex;
  margin-bottom: 5px;
  width: 98.5%;
  border-radius: 4px;
  cursor: pointer;
}
.tweet-container .tweet-item .tweet-profile-img {
  height: 48px;
  width: 48px;
  min-width: 48px;
  border-radius: 48px;
  box-sizing: content-box;
  padding: 3px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin: 3px;
}
.tweet-container .tweet-item .tweet-text {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.tweet-container .tweet-item .tweet-text .head {
  display: flex;
}
.tweet-container .tweet-item .tweet-text .head p {
  width: auto;
  font-size: 0.9rem;
  word-wrap: break-word;
  white-space: normal;
  line-height: 125%;
  margin: 5px 0 0 5px;
}
.tweet-container .tweet-item .tweet-text .head .screen-name {
  font-weight: normal;
  color: #aeaeae;
}
@media only screen and (max-width: 600px) {
  .tweet-container .tweet-item .tweet-text .head {
    font-size: 0.8rem;
  }
}
.tweet-container .tweet-item .tweet-text .body p {
  font-size: 0.9rem;
  word-wrap: break-word;
  white-space: normal;
  line-height: 125%;
  margin: 5px 0 0 5px;
}
.tweet-container .tweet-item .tweet-text .article-footer span {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: normal;
  color: white;
  margin-top: 10px;
  padding: 0;
  background: none;
  width: 48%;
}
@media only screen and (max-width: 600px) {
  .tweet-container .tweet-item .tweet-text .article-footer span {
    font-size: 0.65rem;
  }
}
.tweet-container .tweet-item .tweet-text .article-footer .right {
  text-align: right;
}
