html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.map-container {
  width: 100%;
  height: 100%;
}
.map-container .shbutton {
  font-size: 45%;
  font-weight: normal;
  font-weight: bold;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 25px 20px 5px;
  position: absolute;
  z-index: 30;
  width: 450px;
}
.map-container .shbutton span {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
  user-select: none;
}
.map-container .shbutton span:hover {
  color: lightskyblue;
}
.map-container div#sidebar-outer {
  position: absolute;
  top: 59px;
  left: 0;
  height: calc(100vh - 60px);
  width: 100%;
  max-width: 450px;
  z-index: 1;
}
.map-container div#sidebar-outer pre#sidebar {
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(61, 61, 61, 0.5);
  height: inherit;
  width: inherit;
  max-width: inherit;
}
.map-container div#sidebar-outer pre#sidebar .nixwhite {
  font-size: 45%;
  font-weight: normal;
  color: white;
  padding: 0;
  background: none;
}
.map-container div#sidebar-outer pre#sidebar .sidebar-inner-container:not(:first-child) {
  margin-top: -15px;
}
.map-container div#sidebar-outer pre#sidebar .sidebar-inner-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 20px 20px;
  padding: 20px;
  border-radius: 4px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.map-container div#sidebar-outer pre#sidebar .light {
  background-color: rgba(255, 255, 255, 0.05);
}
.map-container div#sidebar-outer pre#sidebar .goldenrod-text {
  color: #c4941d;
}
.map-container div#sidebar-outer pre#sidebar .green-text {
  color: #00e600;
}
.map-container div#sidebar-outer pre#sidebar .red-text {
  color: #ff704f;
}
.map-container div#sidebar-outer pre#sidebar .stat {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.2rem;
  padding: 10px;
  border: 1px solid #6e6e6e;
  border-radius: 4px;
  margin-bottom: 10px;
  width: calc(50% - 10px);
}
@media only screen and (max-width: 600px) {
  .map-container div#sidebar-outer pre#sidebar .stat {
    width: 100%;
  }
}
.map-container div#sidebar-outer pre#sidebar .no-column {
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .map-container div#sidebar-outer pre#sidebar .no-column {
    flex-direction: column;
  }
}
.map-container div#sidebar-outer pre#sidebar .stat-entry {
  display: inline-block;
  text-indent: 5px;
}
.map-container div#sidebar-outer pre#sidebar .stat-entry::before {
  content: "↳ ";
}
.map-container div#sidebar-outer pre#sidebar span.divider {
  width: 100%;
  height: 1px;
  background-color: white;
  display: inline-block;
  margin: 8px 0;
}
.map-container div#sidebar-outer pre#sidebar p.worldTotal {
  margin: 10px 0;
  color: #ff471c;
}
.map-container .map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.map-container .mapboxgl-popup-tip {
  opacity: 0.8;
}
.map-container .mapboxgl-popup-close-button {
  font-size: 13px;
  outline: none;
}
.map-container .mapboxgl-popup-close-button:hover {
  color: #b52200;
}
.map-container .mapboxgl-popup-content {
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.map-container .mapboxgl-popup-content h3 {
  font-size: 1.4rem;
}
.map-container .mapboxgl-popup-content span.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  display: inline-block;
  margin: 5px 0 5px;
}
.map-container .mapboxgl-popup-content p.ps-total {
  display: flex;
  flex-direction: column;
  color: #b52200;
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 8px;
}
.map-container .mapboxgl-popup-content p.ps-total .nix {
  font-size: 62.5%;
  font-weight: normal;
  color: black;
  line-height: 200%;
}
.map-container .mapboxgl-popup-content ul {
  margin: 5px 0 0;
  font-size: 110%;
}
.map-container .mapboxgl-popup-content ul li {
  text-indent: 10px;
  margin-left: -20px;
}
.map-container .mapboxgl-popup-content ul li::before {
  content: "\2022";
  font-weight: bold;
  font-size: 200%;
  display: inline-block;
  width: 1em;
  position: relative;
  top: 5px;
}
.map-container .mapboxgl-popup-content ul li.active::before {
  color: #c4941d;
}
.map-container .mapboxgl-popup-content ul li.recovered::before {
  color: #009a00;
}
